In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Read excel file into a pandas dataframe
unemployment_df = pd.read_csv ('Average US_Employment rate_2010to2020.csv')

In [3]:
unemployment_df.head()

,Oct-10,Nov-10,Dec-10,Jan-11,Feb-11,Mar-11,Apr-11,May-11,Jun-11,Jul-11,...,Jan-20,Feb-20,Mar-20,Apr-20,May-20,Jun-20,Jul-20,Aug-20,Sep-20,Oct-20
0,8.75,8.71,8.67,8.59,8.52,8.45,8.42,8.39,8.38,8.37,...,3.65,3.62,4.15,14.18,12.28,9.81,9.17,7.78,7.26,6.41

In [4]:
unemployment_df.rows = ['Date','Month']

/Users/ginacanales/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [5]:
unemployment_df.to_csv('Average US_Employment rate_2010to2020_2.csv')

In [6]:
unemployment_df.head()

,Oct-10,Nov-10,Dec-10,Jan-11,Feb-11,Mar-11,Apr-11,May-11,Jun-11,Jul-11,...,Jan-20,Feb-20,Mar-20,Apr-20,May-20,Jun-20,Jul-20,Aug-20,Sep-20,Oct-20
0,8.75,8.71,8.67,8.59,8.52,8.45,8.42,8.39,8.38,8.37,...,3.65,3.62,4.15,14.18,12.28,9.81,9.17,7.78,7.26,6.41